[core]
	autocrlf = input
	excludesfile = /Users/kumabook/.gitignore
	ignorecase = false
[color]
	ui = true
[user]
	name = Hiroki Kumamoto
	email = kumabook@live.jp
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[ghq]
	root = ~/src
[credential]
	helper = osxkeychain
[grep]
	lineNumber = true
[push]
	default = current
[merge]
	ff = only
[pull]
	ff = only

[includeIf "gitdir:~/src_sub/"]
    path = ~/.gitconfig_sub
